.signup {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #f1fffde5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup input {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  caret-color: #3a2cff;
  color: #004b58;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.signup .inputName{
text-transform: capitalize;
}
.signup input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.signup button {
  padding: 0.75rem 1rem;
  background-color:  #018a6e;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup button:hover {
  background-color:  #02818a;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}

.success {
  color: green;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}
.loginPrompt {
  margin-top: 1rem;
  color: #333;
  text-align: center;
  font-size: 0.9rem;
}.loginLink {
  color: #00b894;
  text-decoration: none;
  font-weight: 500;
}

.loginLink:hover {
  text-decoration: underline;
}
